.circular_image {
  border-radius: 50%;
  overflow: hidden;
}

.circular_image img {
  width: 100%;
}

.form {
  margin-left: 25%;
  margin-top: 2%;
  height: 30%;
  width: 50%;
  background-color: beige;
}

.form1 {
  margin-left: 35%;
}
.back {
  margin-left: 17%;
}
.filter {
  display: flex;
  justify-content: space-between;
}

